.toDoList {
    
    background-color: #333; /* Dark background color */
    color: #fff; /* Text color */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .toDoList h1 {
    color: #fff;
    font-size: 2em;
    margin-bottom: 20px;
  }

  
  .toDoList ol {
    list-style-type: none;
    padding: 0;
  }
  
  .toDoList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #444; /* Darker list item background color */
    padding: 10px;
    border-radius: 5px;
  }
  
  .toDoList .text {
    width: 70%; /* Adjust as needed */
  }

  .checkbox{
    height: 30px;
    width: 40px;
  }
  
  .toDoList .delete-button,
  .toDoList .move-button {
    background-color: #53a7df; /* Red button color */
    color: #fff; /* Text color */
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .toDoList .delete-button:hover,
  .toDoList .move-button:hover {
    background-color: #3535ec; /* Darker red color on hover */
  }
  

