/* Adjustments for MainPageScreen component */

/* Common styles for both large and small screens */
.main-page {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Adjust as needed */
  overflow-x: auto; /* Add horizontal scrollbar */
}

.main-part {
  display: flex;
  flex: 1; /* Take remaining space */
}

.profile-part {
  width: 25%;
  margin-right: 10px;
}

.listOfProjects {
  width: 74%;
  position: relative;
  right: 0;
  height: 100%;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
  .profile-part, .listOfProjects {
    width: auto; /* Let them take the full width */
    margin-right: 0; /* Remove margin */
  }
}
