/* Adjustments for MainPageScreen component */
.main-page {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Adjust as needed */
  }
  
  .main-part {
    display: flex;
    flex: 1; /* Take remaining space */
  }
  
  .profile-part {
    width: 25%;
    margin-right: 10px;
  }
  
  /* Adjustments for ProfileScreen component */
  .Profile-component {
    height: 100%; /* Ensure it takes full height of the parent */
    
  }
  
  /* Adjustments for ListOfProjectsScreen component */
  .listOfProjects {
    height: 100%;
  width: 74%; /* Set fixed width for the List of Projects component */
  position: absolute; /* Make it fixed */
  top: -60; /* Adjust as needed */
  right: 0; /* Align to the right */
  height: 100%; /* Take full height of the viewport */
  overflow-y: auto; /* Allow scrolling if content exceeds viewport height */
  }


  /* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
  .profile-part, .listOfProjects {
    width: auto; /* Let them take the full width */
    margin-right: 0; /* Remove margin */
  }
}
  

  