.save-button-body {
    width: 100%;
    background-color: #fff;
    
}

.save-all {
    background-color: #fff;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    margin-bottom: 20px;
    
}

.save-btn {
    background-color: #40ec5a;
    border-radius: 10px;
    color: #333f;
    height: 60px;
    width: 200px;
}

.save-btn:hover {
    background-color: #06762b;
}
