.edit-profile-screen-container {
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.picture-dropzone-container {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.picture-dropzone-input{
    width: 100%;
    height: 100%;
    display: none;
    
}

.edit-profile-user-info-container {
    margin-top: 20px;
    text-align: center;
}

.edit-profile-name-title{
    margin-bottom: 5px;
    color: #fff;
}

.edit-profile-enter-name-user-input {
    color: fff;
    background-color: #333;
    width: 200px; /* Adjust width as needed */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.save-btn-edit-profile {
    background-color: #3498db; /* Blue button color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.save-btn-edit-profile:hover {

    background-color: #2980b9; /* Darker blue color on hover */
}

.description-edit-profile {
    color: fff;
    background-color: #333;
    height: 100px;
    width: 200px; /* Adjust width as needed */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}