.edit-profile-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9; /* Light background color */
}

.picture-dropzone {
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.picture-dropzone input {
    display: none;
}

.user-info {
    margin-top: 20px;
    text-align: center;
}

.user-info h2 {
    margin-bottom: 5px;
}

.title{
    color: #333;
}

.user-input {
    color: #333;
    background-color: #fff;
    width: 200px; /* Adjust width as needed */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.save-btn {
    background-color: #4caf50; /* Green button color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.save-btn:hover {
    background-color: #45a049; /* Darker green color on hover */
}
