
.desc-screen {
    left: 0;
    background-color: #fff; /* Dark background color */
    padding: 20px;
}

.project-title,
.project-description {
    color: #333;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.project-name-input {
    color: #333;
    background-color: #c8c8c8;
    width: 150px;
}

.project-description-name-input{
    color: #333;
    background-color: #c8c8c8;
    max-width: 700px;
    max-height: 600px;
    resize: none;
}