.project-part-container {
  height: 95%;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
}

.project-part-topnav  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.project-part-search-container {
  flex-grow: 1;
  margin-right: 10px;
  

}

.project-part-search-form {
  display: flex;
  align-items: center;
  background-color: white;
}

.project-part-search-bar{
    width: 100%;
    background-color: white;
    color: #333;
    padding: 10px;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  
  
}

.project-part-submit-button{
  font-size: 1.4rem;
  background-color: #4caf50;
  width: 60px;
  height: 50px;
}
.project-part-submit-button:hover {
  background-color: #18631b;
}





.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content-project-part-span {
  width: 200px;
  height: 50px;
  display: block;
  padding: 8px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
.project-part-dropdown-btn {
  width: 200px;
  height: 50px;
  background-color: #4caf50;
  margin-right: 50px;
}
.project-part-dropdown-btn:hover{
  background-color: #18631b;
}

span:hover{
  background-color: #ccc;
}

.project-part-create-new-project-btn {
  background-color: #4caf50;
  width: 200px;
  height: 50px;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.project-part-create-new-project-btn:hover{
  background-color: #18631b;
}

.project-part-break  {
  border: 1px solid #ddd;
  margin: 10px 0;
}

.project-part-unordered-list {
  list-style-type: none;
  padding: 0;
}

.project-part-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-part-delete-button,
  .project-part-move-button {
    height: 50px;
    width: 100px;
    background-color: #4caf50;
    margin-right: 10px;

}

.project-part-delete-button:hover,
  .project-part-move-button:hover {
    background-color: #18631b;
  }


